<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TachiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tachi"
        tools:targetApi="31">

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tachi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.sign.SignInActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tachi"></activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_OAUTH_HOST_SCHEME}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="${KAKAO_OAUTH_HOST_SCHEME}"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_MAP_CLIENT_ID}" />
    </application>

</manifest>